URxvt*background:            #262626
URxvt*foreground:            #BCBCBC
URxvt*fading:                40

URxvt*termName: screen-256color
URxvt*font: xft:Inconsolata:size=9
URxvt*letterSpace: -1
URxvt*lineSpace:-1
Xft*antialias: True
URxvt*antialias:True
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*colorUL: yellow
URxvt*underlineColor: yellow

#Do not scroll to bottom when tty receives output
URxvt*scrollTtyOutput: false



!! black dark/light
URxvt*color0:                #1C1C1C
URxvt*color8:                #444444

!! red dark/light
URxvt*color1:                #aF5F5F
URxvt*color9:                #FF8700

!! green dark/light
URxvt*color2:                #5F875F
URxvt*color10:               #87AF87

!! yellow dark/light
URxvt*color3:                #87875F
URxvt*color11:               #FFFFAF

!! blue dark/light
URxvt*color4:                #5F87AF
URxvt*color12:               #8FAFD7

!! magenta dark/light
URxvt*color5:                #5F5F87
URxvt*color13:               #8787AF

!! cyan dark/light
URxvt*color6:                #5F8787
URxvt*color14:               #5FAFAF

!! white dark/light
URxvt*color7:                #6C6C6C
URxvt*color15:               #FFFFFF


#######################################################

URxvt.perl-ext-common: default,clipboard
URxvt.iso14775: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
